*{
	padding:0px;
    margin:0px;
    font-family:Comic Sans MS ;
}
#page1{
	background-image: url("back.jpg");
}
#BOX1{
	background-color: black; 
	display:block; 
	margin-top: 5px;
}
#H0{
	padding-right:0px;
	color:red;
	display:inline;
}
#H1{
	color:red;
	padding-right:20px;
	display:inline;
	padding-left: 0px;
}
#INTRO{
	margin-top: 10px;
	width: 700px;
	height: 650px;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 25%;
	margin-left: 20px;
}
#page2{
background-image: url("page22.jpg")
}
#box2{ 
	font-size:50px;
	color:yellow;
}
}
#skill{
	background-color: black;
}
#page3{
background-image: url("page2.jpg")
}
#box3{
	
	font-size:50px;
	color:yellow;
}
#common{

	font-size: 25px;
	height:700px;
	width:750px;
	display :flex;
	justify-content: center;
	align-items: center;
	border-radius:25%;
}
#footer{
	display:block;
	color:purple;
	background-color: black;

}